:root {
  --primary-font:'Roboto', sans-serif;
  --secondary-font:'Raleway', sans-serif;
  --accent-color-title: #2e2f42;
  --accent-color-text-item:#434455;
  --accent-color-dark-fon:#2E2F42;
  --color-logo:#4D5AE5;
  --suptitle-light:#2E2F42;
  --suptitle-dark:#E7E9FC;
  --menu-color:#2E2F42;
  --menu-color-hover-focus:#404bbf;
  --light-section-background:#ffffff;
  --modal-btn-color:#ffffff;
  --modal-btn-color-background:#404bbf;
}


.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
body {
  font-family:var(--primary-font);
  color: var(--accent-color-text-item);
}

.tel, .mail {
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--accent-color-dark-fon);
}
/*===========COMPONENTS=======*/
.logo {
  font-family:var(--secondary-font);
  font-weight:800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--color-logo);
text-transform: uppercase;
}
.suptitle-theme-light {
  color: var(--suptitle-light);
}

.suptitle-theme-dark {
  color: var(--suptitle-dark);
}
.menu {
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--menu-color);
}

.menu .link:hover,
.menu .link:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--menu-color-hover-focus);
}
.mail:hover,
.mail:focus, 
.tel:hover,
.tel:focus {
  color: var(--accent-color-text-item);
}

.menu-item {
 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
     color:var(--menu-color);
}

.title-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color-title);
}

.text-item {
  
  color: var(--accent-color-text-item);
}
.content-title {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--accent-color-title);
}

.name-title {
  color: var(--accent-color-title);
}
.work-item {
  color: var(--accent-color-text-item);
}



/*===========COMPONENTS=======*/
/*===========Header===========*/
 
/*====================HERO================*/
.modal-btn 
{
  
  display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    background: #4D5AE5;
    

}
.name-btn {
 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:var(--modal-btn-color);
}

.modal-btn:hover,
.modal-btn:focus  {
   background-color:var(--modal-btn-color-background);
   color: var(--modal-btn-color);
   cursor: pointer;
 }


.modal-button:hover,
.modal-button:focus {
  background-color:var(--modal-btn-color-background);
  color: var(--modal-btn-color);
  cursor: pointer;
}
 
  
.main-title {
  
  font-size: 56px;
  line-height: 1.73;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff
}
.hero {
  background-color: var(--accent-color-dark-fon);
width: 1440px;
}
/*========HERO=========*/

/*========== Hero-Portfolio=============*/
.modal-button {
  font-family: inherit;
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
background: #F4F4FD;


}



/*========Hero-Portfolio=========*/
/*=========SECTIONS========*/
.content-section {
  background: var(--light-section-background);
  width: 1128px;
}
.staff-section {
  background: #F4F4FD;
  width: 1440px;
}
.product-section {
   background: var(--light-section-background);
   width: 1440px;
}

/*=========SECTIONS========*/
/*======FOOTER======*/

.footer {
background-color: var(--accent-color-dark-fon);
color: #E7E9FC;
width: 1440px;
}
 
/*=========FOOTER======*/

